@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


html {
  -webkit-box-sizing: border-box;
  box-sizing:border-box;
}

body{
  background-image:url('https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&w=1000&q=80');
  margin:20px 0;
  padding: 0 20px;
  line-height: 1;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  color:whitesmoke;
  font-smooth: always;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.container{
  display:flex;
  max-width:900px;
  margin:auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

hr.solid {
  border-top: 3px solid whitesmoke;
  border-bottom:whitesmoke;
}

.Processing{
  font-size: 90px;
  text-align:center;
  text-transform: capitalize;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.Notes_box{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #DCDCDC;
}

button{
  padding: 5px 15px;
  background: #99e0b2;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.Notes_form{
  text-align:center;
  margin:auto;
}

.Search_Mission_box{
  left: 30px;
  width: 300px;
  height:20px;
  border: 2px solid black;
  border-radius: 4px;
}

.Search_Mission{
  position: relative;
  left: 175px;
}


@media only screen and (min-width: 768px) {
  /* Copied from W3 Schools for 
      better responsive design; 
      Optimized media query for desktop*/
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
